@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.banner {
  background: #fff;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.banner .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  padding: 15px;
  margin: 0 15px;
}
.banner .header .logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}
.banner .header .flag {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.banner .header .flag img {
  cursor: pointer;
  height: 25px;
}
.banner img {
  margin: 0 16px 0 0;
}

.container {
  width: 1140px;
  height: 2410px;
  padding: 15px;
}
.container .info {
  margin-right: 0;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  clear: both;
}
.container .info img {
  height: 100%;
}
.container .info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 518px;
  height: 100%;
  background: #404041;
  padding: 0 23px 0 17px;
}
.container .info h1 {
  font-weight: 700;
  padding: 5px 0;
  font-size: 26px;
  color: #fff;
}
.container .add {
  position: relative;
  margin-top: 45px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1040px;
  height: 191px;
  padding: 0 0 0 15px;
  clear: both;
}
.container .add .box {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  gap: 0;
}
.container .add .box div {
  margin-top: 20px;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container .add .box p {
  text-align: center;
  font-size: 13px;
  color: #404041;
  margin: 12px 0 0 0;
  font-weight: 700;
  justify-self: flex-end;
  letter-spacing: 1px;
}
.container .add::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
  background: #fff;
}
.container .data {
  margin-top: 45px;
  margin-left: 50px;
  width: 1040px;
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container .data .check-box {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: solid 2px rgba(150, 147, 147, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3px;
}
.container .data .check-box div {
  width: 100%;
  height: 100%;
}
.container .data .details {
  width: 66%;
  height: auto;
  margin-right: 10px;
}
.container .data .details .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container .data .details .nav .title {
  color: #404041;
  font-size: 26px;
}
.container .data .details .nav .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.container .data .details .nav .text .subtitle {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #404041;
  font-size: 14px;
  font-weight: 600;
}
.container .data .details .nav .text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 32px;
  width: 225px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 13px;
  font-weight: 600;
  color: #404041;
  background: #E6E7E8;
  cursor: pointer;
}
.container .data .details .delivery {
  height: auto;
}
.container .data .details .delivery .choose {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 120px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .data .details .delivery .choose .method {
  position: relative;
  background: #fff;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: solid 1px rgba(150, 147, 147, 0.2);
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container .data .details .delivery .choose .method.active {
  border: 1px solid #FFCD00;
}
.container .data .details .delivery .choose .method.active .check-box {
  border: solid 2px #404041;
}
.container .data .details .delivery .choose .method.active .check-box div {
  background: #FFCD00;
}
.container .data .details .delivery .choose .method i {
  font-size: 1.6rem;
  color: #404041;
}
.container .data .details .delivery .choose .method .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  width: 50%;
}
.container .data .details .delivery .choose .method .part span {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: #404041;
}
.container .data .details .size {
  margin-top: 60px;
  width: 100%;
  height: auto;
}
.container .data .details .size .choose {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .data .details .size .choose .part {
  padding: 10px 0;
  border: solid 1px rgba(150, 147, 147, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 31%;
  background: #fff;
}
.container .data .details .size .choose .part .title {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: #404041;
}
.container .data .details .size .choose .part img {
  width: 35px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.container .data .details .size .choose .part .description {
  font-size: 14px;
  font-weight: 600;
  color: #404041;
  opacity: 0.6;
  text-align: center;
}
.container .data .details .size .choose .part .price {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 600;
  color: #404041;
}
.container .data .details .size .choose .part .info-box {
  position: absolute;
  left: 5px;
  bottom: 5px;
  background: rgba(150, 147, 147, 0.2);
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container .data .summary {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 34%;
  height: 300px;
  border: solid 1px red;
  float: left;
}

footer {
  background-color: #404041;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .pad {
  width: 1140px;
  padding: 20px 20px 20px;
  color: #fff;
}
footer .pad .copyright {
  border-top: 0.5px solid #fff;
  margin-top: 8px;
  padding-top: 24px;
}
footer .pad .copyright > span {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 12px;
}
footer .pad .ft {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .pad .ft .left img {
  cursor: pointer;
  width: 120px;
  height: 70px;
}
footer .pad .ft .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 14px;
  list-style: none;
}
footer .pad .ft .right > li {
  cursor: pointer;
  margin-left: 20px;
}
footer .pad .contact {
  margin-left: 130px;
  padding: 0 15px;
}
footer .pad .contact .work-hours td {
  padding: 5px 0;
}
footer .pad .contact .work-hours td .hours {
  font-size: 12px;
}
footer .pad .contact .phone-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .pad .contact .phone-contact > td {
  padding: 5px 0;
}
footer .pad .contact .phone-contact .ft {
  padding-right: 15px;
}
footer .pad .contact .phone-contact .list-call {
  padding: 0 7px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
footer .pad .contact .phone-contact .list-call img {
  margin-top: -7px;
  vertical-align: middle;
  padding-right: 7px;
}